@media (min-width: 1400px) {
  .container {
    width: 1138px;
  }

  .advcontainer {
    margin-left: 50px;
    margin-right: auto;
  }
  .zomato1 {
    width: 100%;
  }
  .humbarger {
    display: none;
  }
  .nav-humbarger {
    display: none;
  }
}
@media only screen and (min-width: 1251px) and (max-width: 1400px) {
  .container {
    width: 1140px;
  }
  .advcontainer {
    margin-left: 94px;
    margin-right: auto;
  }
  .zomato1 {
    width: 100%;
  }
  .humbarger {
    display: none;
  }
  .nav-humbarger {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1251px) {
  .container {
    width: 960px;
  }
  .advcontainer {
   margin: 0px 0px;
  }
  .zomato1 {
    width: 100%;
  }
  .humbarger {
    display: none;
  }
  .nav-humbarger {
    display: none;
  }
  .width-responsive {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .list-navbar1 {
    padding: 5px 0px;
    /* margin: 8px -7px; */
    font-size: 14px;
    font-size: 10px;
  }
  .nav-list1 {
    padding: 7px;
  }
  .nav-list2 {
    padding: 7px 0px;
  }
  .nav-list {
    padding: 20px;
  }
  .adv_color {
    /* padding: 5px 30px; */
  }
  .advcontainer {
    margin: 0px 0px;
  }
  .width-responsive {
    margin-top: 0px;
    width: 100%;
  }

  .card_width {
    width: 200px;
  }
  .manu_main {
    flex-wrap: wrap-reverse;
  }
  .manu_body {
    width: auto;
  }
  .electriccar {
    width: 100%;
  }
  .card {
    flex-wrap: wrap;
  }
  .card-content {
    width: 45%;
  }
  .card p {
    margin-bottom: 10px;
  }
  .dotapi {
    margin-bottom: 15px;
  }
  .editor-section {
    flex-wrap: wrap;
  }
  .section {
    width: 45%;
  }
  .middle-section {
    width: 50%;
    margin-left: 30px;
  }
  .infographic-container {
    flex-wrap: wrap;
  }
  .vcctv-lower {
    flex-wrap: wrap;
  }
  .vcctv-upper {
    padding: 0px 35px;
  }
  .vcccircle {
    display: none;
  }
  .upcoming-lower1 {
    width: 27%;
    margin: 0px 0px;
  }
  .lower1 {
    width: 450px;
  }
  .lower1 img {
    width: 100%;
  }
  .vcctv-java {
    border: 1px solid;
    border-radius: 2px;
    margin: 0px 38px;
    border-radius: 10px;
  }
  .left-section {
    display: none;
  }
  .left-section1 {
    display: none;
  }
  .humbarger {
    display: none;
  }
  .nav-humbarger {
    display: none;
  }
  .footer-products li {
    padding: 0px 0px
}
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 540px;
  }
  .nav-logo {
    display: none;
  }
  .list-navbar {
    display: none;
  }
  .subscribe-responsive {
    display: flex;
    justify-content: space-between;
  }
  .humbarger{
    width: 25%;
    margin: 22px 2px;
 }
  .humbarger img{
    width: 65%;
  }

  .hum-res {
    display: block;
    width: auto;
    border: 0.1rem solid #ffffff;
    box-shadow: 0px 0px 3px;
    border-style: none;
    border-radius: 10px;
    text-align: center;
  }
  .hum-res1 {
    display: block;
    list-style: none;
    text-align: start;
    padding-left: 25px;
  }
  .hum-res-li {
    margin-left: 0;
    font-size: 15px;
    color: #f83900;
    font-weight: 250;
  }
  .hum-res-li-hide {
    display: block;
    padding: 1rem 0rem;
    margin-left: 30rem;
  }
  .hum-menu {
    display: block;
  }
  .hum-res-li-hide-home {
    display: block;
    font-size: 16px;
    color: #222222;
    font-weight: 600;
  }
  .hum-res-li-hide-home {
    display: none;
  }
  .humbarger-custom {
    display: none;
  }
  .hum-extra {
    display: block;
    font-size: 16px;

    font-weight: 200;
  }
  .nav-humbarger {
    width: 100%;
  }
  .sub-nav {
    display: none;
  }
  .hum-nav-li {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .navbar-box-res {
    box-shadow: 0px 2px 4px #0000001a;
    position: fixed;
    width: 100%;
    z-index: 8;
    background-color: #ffff;
    top: 0;
    height: auto;
    box-shadow: 0px 2px 10px;
    /* margin-left: -5px; */
  }
  .navbar {
    flex-wrap: wrap;
  }
  .nav-lower {
    display: none;
  }
  .navbar-height {
    height: auto;
  }
  .manu_main {
    flex-wrap: wrap-reverse;
  }
  .manu_body {
    width: auto;
  }
  .electriccar {
    width: 100%;
  }
  .infographic-container {
    flex-wrap: wrap;
  }
  .upcoming-lower {
    flex-wrap: wrap;
  }
  .vcccircle {
    display: none;
  }
  .vcctv-lower {
    flex-wrap: wrap;
  }
  .input-container {
    flex-wrap: wrap;
  }
  .editor-section {
    flex-wrap: wrap;
  }
  
  .vcctv-java{
    width: 100%;
  }
  .footer-products li {
    padding: 0px 0px;
}
.card {
  flex-wrap: wrap;
  }
.card-content {
  width: 48%;
  margin-bottom: 10px;
}
.card p {
  margin-bottom: 10px;
}
.section{
  width: 100%;
}
.middle-section{
  width: 100%;
  margin-left: 0px;
}
.section1{
  width: 27%;
}
.swiggy{
  width: 100%;
}
.line{
  display: none;
}
.infographic-container{
  padding: 0px 90px ;
}
.left-section{
  padding: 0px 95px;
}
.twitter-container-upper{
  margin-bottom: 20px;
}
.left-section1{
  margin-top: 20px;
}
/* .card-zomato-container{
  display: flex;
}
.card-zomato-container1{
  width: 50%;
}
.card-zomato-container2{
  width: 100%;
  margin-left: 10px;

}
.card p{
  margin: 0px 0px;
}
.card-content{
  width: 100%;
}
.headerfinancezomato{
  margin: 5px 0px;
} */
.slidermargin{
  margin: 0px 0px;
}
.kotak{
  margin: 0px 0px;
}
.adv_color{
  display: none;
}
.manu-img{
  margin-top:  83px;
}
.vcctv-java{
  width: 500px;
  border-radius: 10px;
}
.vcctv-container{
  border: none;
}
.vcctv-left{
  margin-left: 0px;
}
.vcctv-view{
  margin: 20px 0px;
}
.footer-products{
  flex-wrap: wrap;
}
.contentapistory p{
  font-size: 14px;
  width: 87%;

}

}
@media only screen and (min-width: 340px) and (max-width: 576px){
  .container{
    width: 100%;
    /* margin: 0 auto; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    margin-top: 0px;
  }
  .navbar-height{
    margin-top: 0px;
  }
  .nav-logo {
    display: none;
  }
  .list-navbar {
    display: none;
  }
  .subscribe-responsive {
    display: flex;
    justify-content: space-between;
  }
  .humbarger{
    width: 25%;
    margin: 22px 2px;
 }
  .humbarger img{
    width: 65%;
  }

  .hum-res {
    display: block;
    width: auto;
    border: 0.1rem solid #ffffff;
    box-shadow: 0px 0px 3px;
    border-style: none;
    border-radius: 10px;
    text-align: center;
  }
  .hum-res1 {
    display: block;
    list-style: none;
    text-align: start;
    padding-left: 25px;
  }
  .hum-res-li {
    margin-left: 0;
    font-size: 15px;
    color: #f83900;
    font-weight: 250;
  }
  .hum-res-li-hide {
    display: block;
    padding: 1rem 0rem;
    margin-left: 30rem;
  }
  .hum-menu {
    display: block;
  }
  .hum-res-li-hide-home {
    display: block;
    font-size: 16px;
    color: #222222;
    font-weight: 600;
  }
  .hum-res-li-hide-home {
    display: none;
  }
  .humbarger-custom {
    display: none;
  }
  .hum-extra {
    display: block;
    font-size: 16px;

    font-weight: 200;
  }
  .nav-humbarger {
    width: 100%;
  }
  .sub-nav {
    display: none;
  }
  .hum-nav-li {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
  }
  .navbar-box-res {
    box-shadow: 0px 2px 4px #0000001a;
    position: sticky;
    width: 100%;
    z-index: 8;
    background-color: #ffff;
    top: 0;
    height: auto;
    box-shadow: 0px 2px 10px;
    /* margin-left: -5px; */
  }
  .navbar {
    flex-wrap: wrap;
  }
  .nav-lower {
    display: none;
  }
  .navbar-height {
    height: auto;
  }
  .manu_main {
    flex-wrap: wrap-reverse;
    margin-top: 0px;
  }
  .manu_body {
    width: 100%;
    margin-top: 0px;
  }
  .electriccar {
    width: 100%;
  }
  .infographic-container {
    flex-wrap: wrap;
  }
  .upcoming-lower {
    flex-wrap: wrap;
  }
  .vcccircle {
    display: none;
  }
  .vcctv-lower {
    flex-wrap: wrap;
  }
  .input-container {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
  }
  .editor-section {
    flex-wrap: wrap;
  }
  
  .vcctv-java{
    width: 319px;
  }
  .footer-products li {
    padding: 0px 0px;
}
/* .card {
  flex-wrap: wrap;
  }
.card-content {
  width: 48%;
  margin-bottom: 10px;
}
.card p {
  margin-bottom: 10px;
} */
.section{
  width: 100%;
}
.middle-section{
  width: 100%;
  margin-left: 0px;
}
.section1{
  width: 27%;
}
.swiggy{
  width: 100%;
}
.line{
  display: none;
}
.infographic-container{
  padding: 0px 17px ;
}
.left-section{
  padding: 0px 17px;
}
.twitter-container-upper{
  margin-bottom: 20px;
}
.twitter-container-upperimg{
  width: 100%;
}
.left-section1{
  margin-top: 20px;
}
.card-zomato-container{
  display: flex;
}
.card-zomato-container1{
  width: 40%;
}
.card-zomato-container2{
  width: 90%;
  margin-left: 10px;

}
.card p{
  margin: 0px 0px;
}
.card{
  flex-wrap: wrap;
}
.card-content{
  width: 100%;
}
.headerfinancezomato{
  margin: 5px 0px;
}
.slidermargin{
  margin: 0px 0px;
}
.kotak{
  margin: 0px 0px;
}
.adv_color{
  display: none;
}
.manu-img{
  margin-top :0px;
}
.vcctv-container{
  border: none;
  padding: 0px;
}
.vcctv-left{
  margin-left: 0px;
}
.vcctv-view{
  margin: 20px 0px;
}
.footer-products{
  flex-wrap: wrap;
}
.storiesimgdiv{
  width: 142px;
}
.contentapistory p{
  font-size: 12px;
  width: 100%;
}
.storiesimgdiv{
  /* width: 100%; */
}
.contentapistory{
  width: 100%;
}
.zomato1{
  width: 95%;
}
.upcoming-lower{
  width: 95%;
}
.upcoming-upper{
  width: 95%;
}
.manu_body h1{
  font-size: 25px;

}
.editiorapi{
  width: 100%;
}
.nav-list{
  padding:26px 45px ;
}
.input-text-field input{
  padding: 12px 40px;
}
.card-content-crausal{
  padding: 0px;
}
.swiper-button-prev{
  display: none;
}
.swiper-button-next{
  display: none;
}
}

